    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Hey there, I am currently in my second year of BE in Electrical and Electronics Engeneering(4 years) from Birla Institute of Technology and Sciences, Pilani - Goa Campus. You can find my <a href="https://github.com/Oytrik/Oytrik.github.io/blob/master/Oytrik%20Resume.pdf">resume</a> here.</p>
                <p>My primary interests are competetive coding and game development. I am also a robotics enthusiast.</p>
                <p>You can find here the link to <a href="https://github.com/Oytrik/Mini-Project-2048">2048</a> which I did as one of my project using pygame.</p>                
            </div>
        </div>
    </section>
