   <!-- GLMC Section -->
    <section id="GLMC" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>GLMC</h2>
                <h3> Linear Algebra Library for OpenGL in C </h3>
                <p>This library is meant to be used as a C replacement for glm, with a plan of a wrapper for python.</p>               
                <p>You can find here the link to <a href="https://github.com/Oytrik/glmc">GLMC</a></p>                
            </div>
        </div>
    </section>
