   <!-- GLMC Section -->
    <section id="GLMC" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>GLMC</h2>
                <h3> Linear Algebra Library for OpenGL in C </h3>
                <p>This library is meant to be used as a C replacement for glm, with a plan of a wrapper for python.</p>  
                <h3>Work Done</h3>
                <p>For this project I did some basic mathematical research on the linear algebra being implemented here. I learnt a few of new operations previously unknown to me.</p>
                <p>The header functions are coded in C and most of them are hard coded to improve effeciency and reduce operation time. There are various functions that operato upon 2x2, 3x3, 4x4 column major vectors and matrices. Apart from basic arithmetic functions of addition, subtraction, multiplication and division there is also implementation for scaling, rotation, translation of matrices.</p>
                <p>You can find here the link to <a href="https://github.com/Oytrik/glmc">GLMC</a>. The flow chart representation can be downloaded from <a href="Oytrik.github.io/GLMC.pdf/">here</a></p>                
            </div>
        </div>
    </section>
